@media (max-width: 515px) {

#col1 {
  width:100%;
}

#col2 {
  width:100%;
}

#col2n {
  margin-left: 3%;
  margin-right: 3%;
}
}

@media (min-width:516px) and (max-width:900px) {

#col1 {
  float:left;
  width:200px;
}

#col2 {
  float:right;
  width:100%;
  margin-left:-210px;
}

#col2n {
  padding-left:210px;
  margin-left: 2%;
  margin-right: 2%;
}
}

@media (min-width:901px) and (max-width:1100px) {

#col1 {
  float:left;
  width:210px;
}

#col2 {
  float:right;
  width:100%;
  margin-left:-220px;
}

#col2n {
  padding-left:220px;
  margin-left: 5%;
  margin-right: 10%;
}
}

@media (min-width:1101px) {
#col1 {
  left:0;
  top:0px;
  width:230px;
  position:absolute;
}

#col2 {
  width: calc(100% - 240px);
  margin: 0 auto;
  float:right;
}

#col2n {
margin-left: 5%;
margin-right: 15%;
}
}

body {
  background: #FFFFFF;
  font-size:18px; font-family: Calibri, 'PT Sans', sans-serif; margin:0 auto;  width:100%;
}

#col1 {
  background-color:#05264c;
  z-index: 1;
}

a:hover {text-decoration:underline;}

a {text-decoration:none; color:#0033FF;}

a:hover.nav {text-decoration:underline; color:white; font-family:arial;}

a.nav {text-decoration:none; color:white; font-family:Arial; font-size:12.5px;}

h1 {font-size:31px;  font-weight:bold; margin-top:15px; color:black; text-align:left;}

h2 {font-size:26px;  font-weight:bold;}

h3 {font-size:21px;  font-weight:bold; margin-bottom:0px;}

h4 {font-size:18px; font-weight: 500;}

#col2 p, .linespacing li, .linkspacing li {line-height:1.5; margin-top: 10px;}
.linkspacing li {line-height:1;}

table.listing {font-size:18px; }

table.table-content { font-size:14px;}

.commonfooter {font-size:11px; font-family:Arial;}
.ftheader {font-size:13px; font-family:Arial;  font-weight:bold}

table.main {font-family:verdana; font-size:13px;}

.breadcrumb {font-family:verdana; font-size:15px;}

.menu {border-bottom: 1px solid #ccc; padding: 2px 2px;color:#ffffff; font-weight:bold; font-size:15px;  }
.sub {margin-left:12px;}
.sub-menu {border-bottom:0px; margin-left:8px; font-size:10px; padding:0 0 0 0; color:#ffffff; font-weight:bold; font-size:14px;  }

#colwrap {
  width:100%;
}

#left-nav { display: block; text-align:left;}
#left-nav ul { list-style: none; margin: 0px; padding: 0px; }
#left-nav ul li { list-style: none; text-align: left;}
#left-nav ul li a { display: block; padding: 5px 10px; color:#fff; }
#left-nav ul li a:hover { background-color: #ccc; color: #fff; }
#left-nav ul li a:visited { color: #cc99ff; }

table.top {
  background-color:#336699;
  margin: 0 0 0 0;
  width:100%;
}

#nextpage {
  float:right;
}
table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
}
pre {
  padding: 13px;
  overflow: auto;
  line-height: 1.8;
  background-color: #f6f8fa;
  border-radius: 3px;
}